* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Rubik', sans-serif;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-4 {
  width: 75%;
  padding: 1rem 1.5rem;
}

.sec {
  padding: 8rem 0;
  background-color: #ccc;
}

.box {
  background-color: #fff;
  border-radius: 5px;
  padding: 3rem 2rem;
  cursor: pointer;
  transition: 0.3s ease;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
}

.input,
.btn {
  font-family: 'Rubik', sans-serif;
  outline: 0 !important;
  border: 0;
  display: block;
}

.input {
  background-color: rgb(230, 222, 222);
  padding: 1rem;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.btn {
  background-color: #28b487;
  padding: 1rem 4rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ff4646;
}

.list {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.list li {
  display: inline-block;
  background-color: #ff4646;
  color: #fff;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: 500;
  text-transform: uppercase;
}
