* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Rubik', sans-serif;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-4 {
  width: 33.33%;
  padding: 1rem 1.5rem;
}

.sec {
  padding: 8rem 0;
  background-color: #ccc;
  min-height: 100vh;
}

nav {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

nav li {
  list-style: none;
  margin: 0 1rem;
}
nav li > a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #091b29;
  border-bottom: 2px solid transparent;
  transition: border 0.5s ease;
  padding: 1.5rem;
}

nav li > a:hover {
  color: #ff4646;
  border-bottom-color: #ff4646;
}
.nav-item {
  position: relative;
}

.nav-item .dropdown {
  position: absolute;
  top: 5.4rem;
  left: 0;
  width: 22rem;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 2px solid #ff4646;
  opacity: 0;
  visibility: hidden;
  transform: translateY(60px);
  transition: all 0.3s ease;
}

.nav-item.active > a {
  color: #fff;
  background-color: #ff4646;
}

.nav-item.active .dropdown {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.dropdown > a {
  text-decoration: none;
  display: block;
  font-size: 17px;
  color: #091b29;
  text-transform: uppercase;
  padding: 1.3rem;
  transition: 0.3s ease;
}

.dropdown > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.input,
.btn {
  font-family: 'Rubik', sans-serif;
  outline: 0 !important;
  border: 0;
  display: block;
}

.btn {
  background-color: #28b487;
  padding: 1rem 4rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ff4646;
}

.box {
  background-color: #fff;
  padding: 5rem 2rem 3rem 2rem;
  position: relative;
  border-radius: 5px;
}

.box .close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 4rem;
  color: #ff4646;
  cursor: pointer;
}

.box.active {
  display: none;
}
